@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

.page {
  /* background-color: red; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.cta>p {
  width: 400px;
  font-size: 18px;
}

.custom_button {
  color: white;
  margin-right: 10px;
  background-color: black;
  padding: 12px;
  font-size: 12px;
}


.learn-more {
  background-color: gray;
}

.faq-section{
  display: block; 
  margin: 10px auto;
  width: 100%;
  max-width: 740px;
}
/* .QA{
  background-color: red;
} */